numpy
pandas==2.1.4
pytest

tqdm
matplotlib
folium
mapclassify
geopandas
seaborn

opencv-python
toolz
pyproj
jupyter
geopy
pyarrow
torch
torchvision
tensorflow

roboflow
autodistill_owlv2
#autodistill-grounding-dino
